# Assignment 2 - part-of-speech prediction from limited context

In this assignment, you will train classifiers that attempt, within a window of five words, to make a binary prediction about whether the third word belongs to a given part of speech (noun, verb, adjective, adverb), but using very limited information -- that is, the last two letters of the first, second, fourth, and fifth word of the sequence, and no information whatsoever directly from the third word itself.  You will strip out all punctuation (using the NLTK `WordPunctTokenizer`), lowercase, and remove stop words (using the NLTK English stop words list).

In other words, you will predict over samples that have two classes, P and not-P, where P is the selected part of speech to classify.  For example, from the sentence, "The quick brown fox jumped over the lazy dog.", we can select the following 5-word windows without stop words, "brown fox jumped lazy dog" and "quick brown fox jumped lazy".  If we select verbs as the part-of-speech we are classifying over, we get the instances <(wn,ox,zy,og),1>, since "jumped" is a verb, but <(ck,wn,ed,zy),0> because "fox" in that context is not.

This means that you will need to take into account the position of the last-two-letter feature:  "zy" as the fourth word's last two letters is different from "zy" as the fifth word's last two letters.  They are two features, say, `zy_4` and `zy_5`.

This will likely not actually work.  But it might!

You will create training and testing samples according to this procedure, and you will build a data structure that can be fed to a support vector machine (SVM) classifier.  You will train the classifier on the training data and evaluate it on the testing data. 

The work will be done in a .py module file in the same folder as this notebook.  **No modifications to this notebook will be graded.** We will run your module using this notebook or one we modify that you won't see in order to test your code.

The file you must create and add to the github repo is `mycode.py`, which will be imported here.  You can create your own notebooks or scripts to test it.  You can put any number of your own helper functions and also put optional parameters on any of the python functions mentioned here. You should also create a Markdown file, `notes.md`, to keep any **concise** notes and remarks about the assignment.  The code must run on mltgpu.

**This assignment is due Monday, 2022 March 7, at 23:59. There are 33 points and 5 bonus points.**

In [1]:
import mycode as mc

In [2]:
mc.test()

ca marche!

## Part 0 - preparation (2 points)

Fork this repository and create and add `mycode.py` and `notes.md`. 

## Part 1 - obtaining the text (3 points)

You will randomly select the given number of lines from the gzipped file we give you (so you will have to figure out how to access gzipped text files).  Explain how you implemented the random selection in `notes.md`. When we run it, it should give a new sample every time.

In [3]:

sampled_lines = mc.sample_lines("/scratch/UN-english.txt.gz", lines=100000)

print(len(sampled_lines))
sampled_lines[40000:40010]

100000

[b'(Thirty-fourth session, Geneva, 18-20 September 2002)\n',
 b'Mr. Walid Al-Hadid\n',
 b'It was also considered unacceptable for public funds to be used to compensate for loss that should be allocated to the operator.\n',
 b'INLAND TRANSPORT COMMITTEE\n',
 b'Mr. J. F. Kissack\n',
 b'Those issues and the needed response were highlighted in the Almaty Programme of Action.\n',
 b'We are dealing with the agenda item entitled "Oceans and the law of the sea" on the very same day we are celebrating the tenth anniversary of the entry into force of the United Nations Convention on the Law of the Sea, a text of historic impact. The Convention has made an indisputable contribution to the codification of international law of the sea and is an important milestone in the establishment of a global legal framework for governance of the various marine areas and their living and non-living resources.\n',
 b'The latter would continue to be reviewed by UNMOVIC and IAEA to ensure that items were not included in the goods review list or otherwise subject to paragraph 24 of resolution 687 (1991).\n',
 b'The Government had placed these issues high on its agenda and had sought new measures tailored to the needs of modern society.\n',
 b'(b) Guatemalan Social Security Institute (IGSS) (2 per cent):\n']

## Part 2 - creating the samples (7 points)

From the sampled lines, you will then randomly create the five-word samples.

You will tokenize the sentences and apply POS-tagging to them -- you need to do this before you create the samples, since POS-tagging needs context. You will then remove stop words and punctuation and lowercase the remainder.  Next, you will randomly, over the entire set of sentences, choose samples of five words in sequence, up to a certain limit.  You find the last two characters of the first, second, fourth, and fifth words, and create the type of structure specified up in the introduction to this assignment for each sample. The exact representation is up to you.

In [115]:
import nltk
import pandas as pd
def list_df_POStag(s):
    list_of_df=[]
    for sent in s:
        
        list_of_df.append(pd.DataFrame(nltk.pos_tag(WordPunctTokenizer().tokenize(str(sent).strip("b\" ,()f, .:;'\\").removesuffix("\\n").strip(",. ;:'\"'"))),columns=['word','POS']))
        
    return list_of_df

In [116]:
list_of_df=list_df_POStag(sampled_lines[40000:40010])

In [117]:
list_of_df

[             word  POS
 0              In   IN
 1            this   DT
 2         context   NN
 3               ,    ,
 4             the   DT
 5       Committee  NNP
 6             has  VBZ
 7        likewise   RB
 8         focused  VBN
 9              on   IN
 10            the   DT
 11  participation   NN
 12             of   IN
 13          rural   JJ
 14          women  NNS
 15             in   IN
 16          local   JJ
 17            and   CC
 18       national   JJ
 19         public   JJ
 20       decision   NN
 21              -    :
 22         making   NN
 23              ,    ,
 24             as   IN
 25              a   DT
 26          means   NN
 27             of   IN
 28    empowerment   NN
 29            and   CC
 30             of   IN
 31      enhancing  VBG
 32         access   NN
 33             to   TO
 34     productive   JJ
 35      resources  NNS,
             word  POS
 0            The   DT
 1           list   NN
 2             of   IN
 3     additional   JJ
 4   agricultural   JJ
 5          items  NNS
 6            was  VBD
 7       approved  VBN
 8             on   IN
 9             23   CD
 10      February  NNP
 11          2001   CD
 12           and   CC
 13           the   DT
 14          list   NN
 15            of   IN
 16    additional   JJ
 17         items  NNS
 18            in   IN
 19           the   DT
 20        health   NN
 21        sector   NN
 22           was  VBD
 23      approved  VBN
 24            on   IN
 25            27   CD
 26      February  NNP
 27          2001   CD,
            word   POS
 0            In    IN
 1          that    DT
 2        spirit    NN
 3             ,     ,
 4           the    DT
 5         Crown   NNP
 6           had   VBD
 7       offered   VBN
 8           its  PRP$
 9     apologies   NNS
 10           to    TO
 11            a    DT
 12       number    NN
 13           of    IN
 14  communities   NNS
 15         that   WDT
 16          had   VBD
 17            ,     ,
 18           at    IN
 19      various    JJ
 20        times   NNS
 21            ,     ,
 22     suffered   VBD
 23    injustice    NN
 24           at    IN
 25          the    DT
 26        hands   NNS
 27           of    IN
 28          the    DT
 29          New   NNP
 30      Zealand   NNP
 31   Government   NNP,
         word  POS
 0          d   NN
 1          )    )
 2        The   DT
 3   premises  NNS
 4         of   IN
 5        the   DT
 6      Court  NNP
 7      shall   MD
 8        not   RB
 9     become   VB
 10         a   DT
 11    refuge   NN
 12      from   IN
 13   justice   NN,
             word  POS
 0        Special   JJ
 1     Rapporteur  NNP
 2             on   IN
 3            the   DT
 4           sale   NN
 5             of   IN
 6       children  NNS
 7              ,    ,
 8          child   NN
 9   prostitution   NN
 10           and   CC
 11         child   NN
 12   pornography   NN,
          word  POS
 0          Mr  NNP
 1           .    .
 2      Nisuke  NNP
 3        Ando  NNP
 4           ,    ,
 5          Ms  NNP
 6           .    .
 7   Christine  NNP
 8      Chanet  NNP
 9           ,    ,
 10         Mr  NNP
 11          .    .
 12     Eckart  NNP
 13      Klein  NNP,
                word  POS
 0          Likewise   RB
 1                 ,    ,
 2               the   DT
 3           sharing   NN
 4                of   IN
 5                 "  NNP
 6            render   NN
 7                 -    :
 8              safe   JJ
 9                 "   NN
 10       procedures  NNS
 11              may   MD
 12           reveal   VB
 13        sensitive   JJ
 14        technical   JJ
 15  characteristics  NNS
 16            about   IN
 17          weapons  NNS
 18              and   CC
 19              may   MD
 20        therefore   VB
 21              not   RB
 22               be   VB
 23          readily   RB
 24       releasable   JJ,
           word  POS
 0            1   CD
 1            .    .
 2           In   IN
 3          the   DT
 4     northern   JJ
 5       region   NN
 6          130   CD
 7      sorties  NNS
 8         were  VBD
 9        flown  VBN
 10          at   IN
 11      speeds  NNS
 12          of   IN
 13         720   CD
 14          to   TO
 15         780   CD
 16  kilometres  NNS
 17         per   IN
 18        hour   NN
 19         and   CC
 20          at   IN
 21   altitudes  NNS
 22          of   IN
 23           6   CD
 24           ,    ,
 25         000   CD
 26          to   TO
 27          12   CD
 28           ,    ,
 29         000   CD
 30      metres  NNS
 31           ,    ,
 32          as   IN
 33     follows  VBZ,
            word   POS
 0            16    CD
 1             .     .
 2         Since    IN
 3          many    JJ
 4            of    IN
 5       society    NN
 6             '   POS
 7             s    NN
 8      problems   NNS
 9         could    MD
 10          not    RB
 11           be    VB
 12       solved   VBN
 13           in    IN
 14    isolation    NN
 15            ,     ,
 16        civil    JJ
 17      society    NN
 18       played   VBD
 19            a    DT
 20      crucial    JJ
 21         role    NN
 22          and    CC
 23         must    MD
 24    cooperate    VB
 25         with    IN
 26          the    DT
 27       United   NNP
 28      Nations  NNPS
 29            ,     ,
 30         with    IN
 31          the    DT
 32     approval    NN
 33          and    CC
 34      support    NN
 35           of    IN
 36         host    NN
 37  Governments   NNS,
          word   POS
 0         The    DT
 1       Group   NNP
 2         was   VBD
 3     briefed   VBN
 4          on    IN
 5         the    DT
 6       quota    NN
 7      system    NN
 8        that   WDT
 9         had   VBD
 10       been   VBN
 11  developed   VBN
 12        for    IN
 13        the    DT
 14     number    NN
 15         of    IN
 16   pilgrims   NNS
 17       from    IN
 18       each    DT
 19    country    NN
 20        and    CC
 21        its  PRP$
 22  operation    NN]

In [103]:
dg=list_df_POStag(["that happens that the word  67 happens is said twice"])

In [49]:
dg[0]

      word  POS
0     that   DT
1  happens  VBZ
2     that   IN
3      the   DT
4     word   NN
5       67   CD
6  happens  NNS
7       is  VBZ
8     said  VBD
9    twice   RB

In [46]:
dg[0][dg[0]['word']=='that']

   word POS
0  that  DT
2  that  IN

In [53]:
dg[0]['word'].str.lower()

0       that
1    happens
2       that
3        the
4       word
5         67
6    happens
7         is
8       said
9      twice
Name: word, dtype: object

In [59]:
dg[0].drop(dg[0][~dg[0]['word'].str.isalpha()].index)

      word  POS
0     that   DT
1  happens  VBZ
2     that   IN
3      the   DT
4     word   NN
6  happens  NNS
7       is  VBZ
8     said  VBD
9    twice   RB

In [75]:
stop_words = stopwords.words('english')
pattern = '|'.join(stop_words)

In [96]:
dg[0]['word'].str.contains(pattern)

0     True
1    False
2     True
3    False
4     True
5    False
6    False
7    False
8    False
9    False
Name: word, dtype: bool

In [22]:
import nltk
from nltk.tokenize import WordPunctTokenizer
import pandas as pd
def list_dic_POStag1(s):
    list_of_dic=[]
    for sent in s:
        
        list_of_dic.append(pd.DataFrame(nltk.pos_tag(WordPunctTokenizer().tokenize(str(sent).strip("b\" ,()f, .:;'\\").removesuffix("\\n").strip(",. ;:'\"'"))),columns=['word','POS']))
        
    return list_of_dic

In [99]:
#pattern='|'.join(['that','word'])
dg[0].drop(dg[0][dg[0]['word'].str.contains(pattern)].index)

      word  POS
1  happens  VBZ
3      the   DT
5       67   CD
6  happens  NNS
7       is  VBZ
8     said  VBD
9    twice   RB

In [23]:
list_of_dic=list_dic_POStag1(sampled_lines[40000:40010])
list_of_dic

[           word  POS
 0             d   NN
 1             )    )
 2  Proportional  NNP
 3         means  NNS,
          word  POS
 0       Voice  NNP
 1   reporting  VBG
 2         via   IN
 3         VHF  NNP
 4           (    (
 5          ch   NN
 6           .    .
 7           5   CD
 8           .    .
 9           1   CD
 10          .    .
 11          2   CD
 12          (    (
 13          7   CD
 14         ))   NN,
           word   POS
 0    Therefore    RB
 1            ,     ,
 2          the    DT
 3       author    NN
 4       argues   VBZ
 5         that    RB
 6            ,     ,
 7           as    IN
 8           he   PRP
 9          had   VBD
 10          at    IN
 11       least   JJS
 12          up    RB
 13       until    IN
 14           5    CD
 15     January   NNP
 16        1999    CD
 17           (     (
 18         two    CD
 19      months   NNS
 20        from    IN
 21         the    DT
 22     passing    NN
 23          of    IN
 24         the    DT
 25  resolution    NN
 26           )     )
 27          to    TO
 28        file    VB
 29         his  PRP$
 30   complaint    NN
 31           ,     ,
 32         and    CC
 33    actually    RB
 34         did   VBD
 35          so    RB
 36          on    IN
 37          29    CD
 38    December   NNP
 39        1998    CD
 40           ,     ,
 41          he   PRP
 42         was   VBD
 43        well    RB
 44      within    IN
 45         the    DT
 46  limitation    NN
 47      period    NN,
             word  POS
 0              1   CD
 1              .    .
 2              4   CD
 3              .    .
 4              1   CD
 5              .    .
 6              2   CD
 7              .    .
 8              3   CD
 9              .    .
 10            In   IN
 11           the   DT
 12          case   NN
 13            of   IN
 14             a   DT
 15       vehicle   NN
 16      equipped  VBN
 17          with   IN
 18            an   DT
 19      electric   JJ
 20  regenerative   NN
 21       braking   NN
 22        system   NN
 23             ,    ,
 24           the   DT
 25  requirements  NNS
 26        depend  VBP
 27            on   IN
 28           the   DT
 29      category   NN
 30            of   IN
 31          this   DT
 32        system   NN,
               word   POS
 0                A    DT
 1            staff    NN
 2           member    NN
 3   misrepresented   VBN
 4              and    CC
 5        falsified   VBN
 6              the    DT
 7    certification    NN
 8               of    IN
 9        education    NN
 10           grant    NN
 11          claims   NNS
 12       amounting   VBG
 13              to    TO
 14               $     $
 15             129    CD
 16               ,     ,
 17             880    CD
 18        relating    NN
 19              to    TO
 20             the    DT
 21            1998    CD
 22              to    TO
 23            2002    CD
 24        academic    JJ
 25           years   NNS
 26             for    IN
 27             his  PRP$
 28            four    CD
 29        children   NNS,
             word  POS
 0            The   DT
 1        authors  NNS
 2              '  POS
 3        appeals  NNS
 4             to   TO
 5            the   DT
 6         Hessia  NNP
 7            CDU  NNP
 8          State  NNP
 9          Party  NNP
 10         Court  NNP
 11           and   CC
 12            to   TO
 13           the   DT
 14       Federal  NNP
 15         Party  NNP
 16         Court  NNP
 17            at   IN
 18          Bonn  NNP
 19          were  VBD
 20     dismissed  VBN
 21            on   IN
 22            26   CD
 23       January  NNP
 24          1996   CD
 25           and   CC
 26             ,    ,
 27  respectively   RB
 28             ,    ,
 29            on   IN
 30            24   CD
 31     September  NNP
 32          1996   CD,
            word  POS
 0             4   CD
 1             .    .
 2            At   IN
 3      previous   JJ
 4      sessions  NNS
 5             ,    ,
 6           the   DT
 7         Fifth  NNP
 8     Committee  NNP
 9     submitted  VBD
 10           to   TO
 11          the   DT
 12      General  NNP
 13     Assembly  NNP
 14            a   DT
 15        draft   NN
 16     decision   NN
 17   containing  VBG
 18          the   DT
 19        names  NNS
 20           of   IN
 21          the   DT
 22      persons  NNS
 23  recommended  VBD
 24          for   IN
 25  appointment   NN,
              word  POS
 0               8   CD
 1               .    .
 2             The   DT
 3         present   JJ
 4          report   NN
 5        provides  VBZ
 6              an   DT
 7        overview   NN
 8              of   IN
 9      activities  NNS
 10     undertaken   JJ
 11            and   CC
 12   preparations  NNS
 13          under   IN
 14            way   NN
 15             at   IN
 16            the   DT
 17       national   JJ
 18              ,    ,
 19       regional   JJ
 20            and   CC
 21  international   JJ
 22         levels  NNS
 23            for   IN
 24            the   DT
 25  international   JJ
 26        meeting   NN
 27             to   TO
 28             be   VB
 29           held  VBN
 30             in   IN
 31      Mauritius  NNP,
           word  POS
 0         Iraq  NNP
 1       states  VBZ
 2         that   IN
 3   Ferrostaal  NNP
 4      entered  VBD
 5         into   IN
 6            a   DT
 7     contract   NN
 8         with   IN
 9         SCOP  NNP
 10         for   IN
 11         the   DT
 12      supply   NN
 13          of   IN
 14        nine   CD
 15     harbour   NN
 16     vessels  NNS
 17           ,    ,
 18          of   IN
 19       which  WDT
 20        four   CD
 21        were  VBD
 22   delivered  VBN
 23         and   CC
 24         for   IN
 25       which  WDT
 26     payment   NN
 27         was  VBD
 28        made  VBN,
             word  POS
 0     Background  NNP
 1    information   NN
 2             on   IN
 3            the   DT
 4         report   NN
 ..           ...  ...
 62           esa   NN
 63             /  NNP
 64  coordination   NN
 65             /  NNP
 66        ecosoc   NN

 [67 rows x 2 columns]]

In [14]:
list_of_dic[1].keys()

dict_keys(['Voice', 'reporting', 'via', 'VHF', '(', 'ch', '.', '5', '1', '2', '7', '))'])

In [104]:
stop_words = stopwords.words('english')
pattern = '|'.join(stop_words)
dg[0]['word']=dg[0]['word'].str.lower() 
dg[0]=dg[0][dg[0]['word'].str.contains(pattern)]

In [106]:
pattern

"i|me|my|myself|we|our|ours|ourselves|you|you're|you've|you'll|you'd|your|yours|yourself|yourselves|he|him|his|himself|she|she's|her|hers|herself|it|it's|its|itself|they|them|their|theirs|themselves|what|which|who|whom|this|that|that'll|these|those|am|is|are|was|were|be|been|being|have|has|had|having|do|does|did|doing|a|an|the|and|but|if|or|because|as|until|while|of|at|by|for|with|about|against|between|into|through|during|before|after|above|below|to|from|up|down|in|out|on|off|over|under|again|further|then|once|here|there|when|where|why|how|all|any|both|each|few|more|most|other|some|such|no|nor|not|only|own|same|so|than|too|very|s|t|can|will|just|don|don't|should|should've|now|d|ll|m|o|re|ve|y|ain|aren|aren't|couldn|couldn't|didn|didn't|doesn|doesn't|hadn|hadn't|hasn|hasn't|haven|haven't|isn|isn't|ma|mightn|mightn't|mustn|mustn't|needn|needn't|shan|shan't|shouldn|shouldn't|wasn|wasn't|weren|weren't|won|won't|wouldn|wouldn't"

In [105]:
dg[0]

      word  POS
0     that   DT
1  happens  VBZ
2     that   IN
3      the   DT
4     word   NN
6  happens  NNS
7       is  VBZ
8     said  VBD
9    twice   RB

In [107]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import WordPunctTokenizer


def processed_sentences(list_of_df):
    result=[]
    stop_words = stopwords.words('english')
    
    for df in list_of_df:
        df['word']=df['word'].str.lower() 
        df=df.drop(df[df['word'].isin(stop_words)].index)
        df=df.drop(df[~df['word'].str.isalpha()].index)
        df.reset_index(drop=True, inplace=True)       
        result.append(df)
    return result

In [108]:
processed_sentences(list_of_df)

[           word  POS
 0  proportional  NNP
 1         means  NNS,
         word  POS
 0      voice  NNP
 1  reporting  VBG
 2        via   IN
 3        vhf  NNP
 4         ch   NN,
           word  POS
 0    therefore   RB
 1       author   NN
 2       argues  VBZ
 3        least  JJS
 4      january  NNP
 5          two   CD
 6       months  NNS
 7      passing   NN
 8   resolution   NN
 9         file   VB
 10   complaint   NN
 11    actually   RB
 12    december  NNP
 13        well   RB
 14      within   IN
 15  limitation   NN
 16      period   NN,
             word  POS
 0           case   NN
 1        vehicle   NN
 2       equipped  VBN
 3       electric   JJ
 4   regenerative   NN
 5        braking   NN
 6         system   NN
 7   requirements  NNS
 8         depend  VBP
 9       category   NN
 10        system   NN,
               word  POS
 0            staff   NN
 1           member   NN
 2   misrepresented  VBN
 3        falsified  VBN
 4    certification   NN
 5        education   NN
 6            grant   NN
 7           claims  NNS
 8        amounting  VBG
 9         relating   NN
 10        academic   JJ
 11           years  NNS
 12            four   CD
 13        children  NNS,
             word  POS
 0        authors  NNS
 1        appeals  NNS
 2         hessia  NNP
 3            cdu  NNP
 4          state  NNP
 5          party  NNP
 6          court  NNP
 7        federal  NNP
 8          party  NNP
 9          court  NNP
 10          bonn  NNP
 11     dismissed  VBN
 12       january  NNP
 13  respectively   RB
 14     september  NNP,
            word  POS
 0      previous   JJ
 1      sessions  NNS
 2         fifth  NNP
 3     committee  NNP
 4     submitted  VBD
 5       general  NNP
 6      assembly  NNP
 7         draft   NN
 8      decision   NN
 9    containing  VBG
 10        names  NNS
 11      persons  NNS
 12  recommended  VBD
 13  appointment   NN,
              word  POS
 0         present   JJ
 1          report   NN
 2        provides  VBZ
 3        overview   NN
 4      activities  NNS
 5      undertaken   JJ
 6    preparations  NNS
 7             way   NN
 8        national   JJ
 9        regional   JJ
 10  international   JJ
 11         levels  NNS
 12  international   JJ
 13        meeting   NN
 14           held  VBN
 15      mauritius  NNP,
           word  POS
 0         iraq  NNP
 1       states  VBZ
 2   ferrostaal  NNP
 3      entered  VBD
 4     contract   NN
 5         scop  NNP
 6       supply   NN
 7         nine   CD
 8      harbour   NN
 9      vessels  NNS
 10        four   CD
 11   delivered  VBN
 12     payment   NN
 13        made  VBN,
             word  POS
 0     background  NNP
 1    information   NN
 2         report   NN
 3      secretary  NNP
 4        general  NNP
 5           high   JJ
 6          level   NN
 7        segment   NN
 8       economic  NNP
 9         social  NNP
 10       council  NNP
 11         theme   NN
 12     promoting  VBG
 13    integrated  VBN
 14      approach   NN
 15         rural   JJ
 16   development   NN
 17    developing  VBG
 18     countries  NNS
 19       poverty   NN
 20   eradication   NN
 21   sustainable   JJ
 22   development   NN
 23     available   JJ
 24           web  NNP
 25          site   NN
 26      economic  NNP
 27        social  NNP
 28       council  NNP
 29           www   NN
 30            un   JJ
 31           org   JJ
 32           esa   NN
 33  coordination   NN
 34        ecosoc   NN]

In [89]:
list_of_df

[           word  POS
 0             d   NN
 1             )    )
 2  proportional  NNP
 3         means  NNS,
          word  POS
 0       voice  NNP
 1   reporting  VBG
 2         via   IN
 3         vhf  NNP
 4           (    (
 5          ch   NN
 6           .    .
 7           5   CD
 8           .    .
 9           1   CD
 10          .    .
 11          2   CD
 12          (    (
 13          7   CD
 14         ))   NN,
           word   POS
 0    therefore    RB
 1            ,     ,
 2          the    DT
 3       author    NN
 4       argues   VBZ
 5         that    RB
 6            ,     ,
 7           as    IN
 8           he   PRP
 9          had   VBD
 10          at    IN
 11       least   JJS
 12          up    RB
 13       until    IN
 14           5    CD
 15     january   NNP
 16        1999    CD
 17           (     (
 18         two    CD
 19      months   NNS
 20        from    IN
 21         the    DT
 22     passing    NN
 23          of    IN
 24         the    DT
 25  resolution    NN
 26           )     )
 27          to    TO
 28        file    VB
 29         his  PRP$
 30   complaint    NN
 31           ,     ,
 32         and    CC
 33    actually    RB
 34         did   VBD
 35          so    RB
 36          on    IN
 37          29    CD
 38    december   NNP
 39        1998    CD
 40           ,     ,
 41          he   PRP
 42         was   VBD
 43        well    RB
 44      within    IN
 45         the    DT
 46  limitation    NN
 47      period    NN,
             word  POS
 0              1   CD
 1              .    .
 2              4   CD
 3              .    .
 4              1   CD
 5              .    .
 6              2   CD
 7              .    .
 8              3   CD
 9              .    .
 10            in   IN
 11           the   DT
 12          case   NN
 13            of   IN
 14             a   DT
 15       vehicle   NN
 16      equipped  VBN
 17          with   IN
 18            an   DT
 19      electric   JJ
 20  regenerative   NN
 21       braking   NN
 22        system   NN
 23             ,    ,
 24           the   DT
 25  requirements  NNS
 26        depend  VBP
 27            on   IN
 28           the   DT
 29      category   NN
 30            of   IN
 31          this   DT
 32        system   NN,
               word   POS
 0                a    DT
 1            staff    NN
 2           member    NN
 3   misrepresented   VBN
 4              and    CC
 5        falsified   VBN
 6              the    DT
 7    certification    NN
 8               of    IN
 9        education    NN
 10           grant    NN
 11          claims   NNS
 12       amounting   VBG
 13              to    TO
 14               $     $
 15             129    CD
 16               ,     ,
 17             880    CD
 18        relating    NN
 19              to    TO
 20             the    DT
 21            1998    CD
 22              to    TO
 23            2002    CD
 24        academic    JJ
 25           years   NNS
 26             for    IN
 27             his  PRP$
 28            four    CD
 29        children   NNS,
             word  POS
 0            the   DT
 1        authors  NNS
 2              '  POS
 3        appeals  NNS
 4             to   TO
 5            the   DT
 6         hessia  NNP
 7            cdu  NNP
 8          state  NNP
 9          party  NNP
 10         court  NNP
 11           and   CC
 12            to   TO
 13           the   DT
 14       federal  NNP
 15         party  NNP
 16         court  NNP
 17            at   IN
 18          bonn  NNP
 19          were  VBD
 20     dismissed  VBN
 21            on   IN
 22            26   CD
 23       january  NNP
 24          1996   CD
 25           and   CC
 26             ,    ,
 27  respectively   RB
 28             ,    ,
 29            on   IN
 30            24   CD
 31     september  NNP
 32          1996   CD,
            word  POS
 0             4   CD
 1             .    .
 2            at   IN
 3      previous   JJ
 4      sessions  NNS
 5             ,    ,
 6           the   DT
 7         fifth  NNP
 8     committee  NNP
 9     submitted  VBD
 10           to   TO
 11          the   DT
 12      general  NNP
 13     assembly  NNP
 14            a   DT
 15        draft   NN
 16     decision   NN
 17   containing  VBG
 18          the   DT
 19        names  NNS
 20           of   IN
 21          the   DT
 22      persons  NNS
 23  recommended  VBD
 24          for   IN
 25  appointment   NN,
              word  POS
 0               8   CD
 1               .    .
 2             the   DT
 3         present   JJ
 4          report   NN
 5        provides  VBZ
 6              an   DT
 7        overview   NN
 8              of   IN
 9      activities  NNS
 10     undertaken   JJ
 11            and   CC
 12   preparations  NNS
 13          under   IN
 14            way   NN
 15             at   IN
 16            the   DT
 17       national   JJ
 18              ,    ,
 19       regional   JJ
 20            and   CC
 21  international   JJ
 22         levels  NNS
 23            for   IN
 24            the   DT
 25  international   JJ
 26        meeting   NN
 27             to   TO
 28             be   VB
 29           held  VBN
 30             in   IN
 31      mauritius  NNP,
           word  POS
 0         iraq  NNP
 1       states  VBZ
 2         that   IN
 3   ferrostaal  NNP
 4      entered  VBD
 5         into   IN
 6            a   DT
 7     contract   NN
 8         with   IN
 9         scop  NNP
 10         for   IN
 11         the   DT
 12      supply   NN
 13          of   IN
 14        nine   CD
 15     harbour   NN
 16     vessels  NNS
 17           ,    ,
 18          of   IN
 19       which  WDT
 20        four   CD
 21        were  VBD
 22   delivered  VBN
 23         and   CC
 24         for   IN
 25       which  WDT
 26     payment   NN
 27         was  VBD
 28        made  VBN,
             word  POS
 0     background  NNP
 1    information   NN
 2             on   IN
 3            the   DT
 4         report   NN
 ..           ...  ...
 62           esa   NN
 63             /  NNP
 64  coordination   NN
 65             /  NNP
 66        ecosoc   NN

 [67 rows x 2 columns]]

In [124]:
mc?

In [6]:
processed_sentences = mc.process_sentences(sampled_lines)
processed_sentences[40000:40010]

[        word  POS
 0     thirty  NNP
 1     fourth   JJ
 2    session   NN
 3     geneva  NNP
 4  september  NNP,
     word  POS
 0     mr  NNP
 1  walid  NNP
 2     al  NNP
 3  hadid   NN,
            word  POS
 0          also   RB
 1    considered  VBN
 2  unacceptable   JJ
 3        public   JJ
 4         funds  NNS
 5          used  VBN
 6    compensate   VB
 7          loss   NN
 8     allocated  VBN
 9      operator   NN,
         word  POS
 0     inland  NNP
 1  transport  NNP
 2  committee  NNP,
       word  POS
 0       mr  NNP
 1        j  NNP
 2        f  NNP
 3  kissack   VB,
           word  POS
 0       issues  NNS
 1       needed  VBN
 2     response   NN
 3  highlighted  VBN
 4       almaty  NNP
 5    programme  NNP
 6       action  NNP,
              word   POS
 0         dealing   VBG
 1          agenda    NN
 2            item    NN
 3        entitled   VBD
 4          oceans  NNPS
 5             law    NN
 6             sea    NN
 7             day    NN
 8     celebrating   VBG
 9           tenth    JJ
 10    anniversary    NN
 11          entry    NN
 12          force    NN
 13         united   NNP
 14        nations  NNPS
 15     convention   NNP
 16            law   NNP
 17            sea   NNP
 18           text    NN
 19       historic    JJ
 20         impact    NN
 21     convention    NN
 22           made   VBN
 23   indisputable    JJ
 24   contribution    NN
 25   codification    NN
 26  international    JJ
 27            law    NN
 28            sea    NN
 29      important    JJ
 30      milestone    NN
 31  establishment    NN
 32         global    JJ
 33          legal    JJ
 34      framework    NN
 35     governance    NN
 36        various    JJ
 37         marine    JJ
 38          areas   NNS
 39         living    NN
 40            non    JJ
 41         living    NN
 42      resources   NNS,
           word  POS
 0       latter   NN
 1        would   MD
 2     continue   VB
 3     reviewed  VBN
 4      unmovic  NNP
 5         iaea  NNP
 6       ensure   VB
 7        items  NNS
 8     included  VBN
 9        goods  NNS
 10      review  VBP
 11        list   NN
 12   otherwise   RB
 13     subject   JJ
 14   paragraph   VB
 15  resolution   NN,
           word  POS
 0   government  NNP
 1       placed  VBN
 2       issues  NNS
 3         high  VBP
 4       agenda   NN
 5       sought  VBN
 6          new   JJ
 7     measures  NNS
 8     tailored  VBN
 9        needs  NNS
 10      modern   JJ
 11     society   NN,
          word  POS
 0  guatemalan  NNP
 1      social  NNP
 2    security  NNP
 3   institute  NNP
 4        igss  NNP
 5         per   IN
 6        cent   NN]

In [8]:
processed_sentences[40009].shape

(3, 2)

In [6]:
len(processed_sentences)

100000

In [6]:
#first drop the sentences with less than 5 words:
long_enough_sentences=[df for df in processed_sentences if df.shape[0]>=5]

In [7]:
len(long_enough_sentences)

76704

In [9]:
#then we pick randomly 50000 of the left sentences
samples=50000
import random
if samples>len(long_enough_sentences):
    raise Exception("pick a smaller number of samples or a bigger list of processed_sentences")
all_sentences=random.sample(long_enough_sentences, samples)

In [10]:
len(all_sentences)

50000

In [12]:
#for each df in all_sentences, pick a random 5 elements window
all_samp=[]
for df in all_sentences:
    n=random.randint(0,df.shape[0]-5)
    dg=df.iloc[n:n+5,:]
    all_samp.append(dg)

In [10]:
import random
def create_samples(processed_sentences, samples):
    #first drop the sentences with less than 5 words:
    long_enough_sentences=[df for df in processed_sentences if df.shape[0]>=5]
    #then we pick randomly 50000 of the left sentences
    if samples>len(long_enough_sentences):
        raise Exception("pick a smaller number of samples or a bigger list of processed_sentences")
    all_sentences=random.sample(long_enough_sentences, samples)
    #for each df in all_sentences, pick a random 5 elements window
    all_samp=[]
    for df in all_sentences:
        n=random.randint(0,df.shape[0]-5)
        dg=df.iloc[n:n+5,:]
        all_samp.append(dg)
    
    return all_samp

In [11]:
all_samp=create_samples(processed_sentences,samples=50000)

In [13]:
all_samples=all_samp

In [14]:
len(all_samples)

50000

In [7]:
all_samples = mc.create_samples(processed_sentences, samples=50000)

print(all_samples[25000:25010])

[              word  POS
12        republic  NNP
13       lithuania  NNP
14        prohibit   VB
15  discrimination   NN
16          direct   JJ,       word POS
4  project  NN
5  manager  NN
6    would  MD
7  oversee  VB
8    pilot  NN,         word  POS
0      price   NN
1   quantity   NN
2    indices  NNS
3  transport   NN
4   services  NNS,              word   POS
15  international    JJ
16          organ    NN
17         united   NNP
18        nations  NNPS
19         unique    JJ,             word  POS
3      indicates  VBZ
4  participation   NN
5        parents  NNS
6       children  NNS
7         always   RB,           word  POS
3  testimonies  NNS
4      abusive   JJ
5    treatment   NN
6        girls  NNS
7        women  NNS,              word  POS
3            anti  NNP
4  discrimination   NN
5            unit  NNP
6  implementation   NN
7      commission  NNP,             word  POS
11        forces  NNS
12  investigated  VBN
13         order   NN
14           put   VB
15           end   NN,           word  POS
11  illustrate   VB
12  phenomenon   NN
13       today   NN
14  pioneering  VBG
15     efforts  NNS,       word  POS
5     line   NN
6  militia   NN
7    still   RB
8  remains  VBZ
9     west  NNP]

## Part 3 - convert the samples into a Pandas DataFrame (10 points)

Here, you will take the samples and create a table whose columns are the features and the class and whose rows are the samples.  All the features and the class will be binary.  Note that there may be many columns, in the hundreds or thousands depending on the diversity of the final two consonants of the non-stop-words in the dataset, but the sum of all rows will be five.

In [6]:
import numpy as np
#First we transform each df in the following array: first element= last two letters of the first word
                                                    #second elt = last two letters of the second word
                                                    #third elt= last two letters of the fourth word
                                                    #fourth elt = last two letters of the 5th word
                                                    #fifth element = POS of the third word
def transform(all_samples):
    trans=[]
    for df in all_samples:
        arr=np.zeros(5,dtype=object)
        arr[0]=df['word'].iloc[0][-2:]
        arr[1]=df['word'].iloc[1][-2:]
        arr[2]=df['word'].iloc[3][-2:]
        arr[3]=df['word'].iloc[4][-2:]
        arr[4]=df['POS'].iloc[2]
        trans.append(arr)
    return trans

In [8]:
transformed=transform(all_samples)

In [9]:
transformed[100:110]

[array(['rs', 'ft', 'ed', 'nt', 'NN'], dtype=object),
 array(['ed', 'ry', 'ms', 'ct', 'JJ'], dtype=object),
 array(['et', 'te', 'ps', 'as', 'JJ'], dtype=object),
 array(['io', 'ts', 'al', 'ed', 'RB'], dtype=object),
 array(['ny', 'ng', 'ed', 'ed', 'NN'], dtype=object),
 array(['ee', 'nt', 'ns', 'ry', 'NNP'], dtype=object),
 array(['ed', 'ly', 'ss', 'on', 'VBG'], dtype=object),
 array(['rs', 'ct', 'ct', 'pc', 'VBD'], dtype=object),
 array(['sm', 'nt', 'ws', 'ns', 'NNP'], dtype=object),
 array(['nd', 'so', 'id', 'ns', 'VBZ'], dtype=object)]

In [84]:
#We join them in one matrix:
matrice=np.stack(transformed)

In [85]:
#We chose a class to classify: VBZ
matrice[:,4]=1*(matrice[:,4]=='NN')

In [64]:
dg=pd.DataFrame(transformed)

In [65]:
dg.groupby(dg.iloc[:,4]).count()

          0      1      2      3      4
4
$         2      2      2      2      2
CC       11     11     11     11     11
CD      326    326    326    326    326
DT       46     46     46     46     46
EX        1      1      1      1      1
FW       37     37     37     37     37
IN      490    490    490    490    490
JJ     6659   6659   6659   6659   6659
JJR     104    104    104    104    104
JJS      84     84     84     84     84
MD      583    583    583    583    583
NN    14152  14152  14152  14152  14152
NNP    9940   9940   9940   9940   9940
NNPS    413    413    413    413    413
NNS    6803   6803   6803   6803   6803
PDT       6      6      6      6      6
PRP      19     19     19     19     19
RB     1308   1308   1308   1308   1308
RBR      15     15     15     15     15
RBS       1      1      1      1      1
RP        6      6      6      6      6
SYM      38     38     38     38     38
VB     2344   2344   2344   2344   2344
VBD    1050   1050   1050   1050   1050
VBG    1682   1682   1682   1682   1682
VBN    2984   2984   2984   2984   2984
VBP     338    338    338    338    338
VBZ     540    540    540    540    540
WDT       1      1      1      1      1
WP$      13     13     13     13     13
WRB       4      4      4      4      4

In [86]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()
m=enc.fit_transform(matrice[:,:4]).toarray()

In [87]:
m_final=np.concatenate((m,matrice[:,4][:,None]),axis=1)

In [88]:
m_final.sum(axis=0)

array([1.0, 16.0, 23.0, ..., 1.0, 1.0, 14152], dtype=object)

In [70]:
enc.categories_

[array(['aa', 'ab', 'ac', 'ad', 'ae', 'af', 'ag', 'ah', 'ai', 'ak', 'al',
        'am', 'an', 'ao', 'ap', 'aq', 'ar', 'as', 'at', 'au', 'av', 'aw',
        'ax', 'ay', 'az', 'b', 'ba', 'bb', 'bc', 'bd', 'be', 'bh', 'bi',
        'bj', 'bm', 'bo', 'bq', 'bs', 'bt', 'bv', 'bw', 'by', 'c', 'ca',
        'cc', 'cd', 'ce', 'cf', 'ch', 'ci', 'cj', 'ck', 'cl', 'cm', 'cn',
        'co', 'cp', 'cr', 'cs', 'ct', 'cw', 'cx', 'cy', 'da', 'db', 'dc',
        'dd', 'de', 'df', 'dg', 'di', 'dj', 'dm', 'dn', 'do', 'dp', 'dr',
        'ds', 'dt', 'du', 'dy', 'e', 'ea', 'eb', 'ec', 'ed', 'ee', 'ef',
        'eg', 'ei', 'ek', 'el', 'em', 'en', 'eo', 'ep', 'er', 'es', 'et',
        'eu', 'ev', 'ew', 'ex', 'ey', 'ez', 'f', 'fc', 'fe', 'ff', 'fn',
        'fp', 'fs', 'ft', 'fu', 'fy', 'g', 'ga', 'gb', 'gc', 'ge', 'gg',
        'gh', 'gi', 'gm', 'gn', 'go', 'gs', 'gu', 'gy', 'h', 'ha', 'hc',
        'hd', 'he', 'hg', 'hi', 'hl', 'hn', 'ho', 'hr', 'hs', 'ht', 'hw',
        'hy', 'ia', 'ib', 'ic', 'id', 'ie', 'ig', 'ii', 'ik', 'il', 'im',
        'in', 'io', 'ip', 'ir', 'is', 'it', 'iv', 'ix', 'j', 'ja', 'ji',
        'jo', 'jy', 'k', 'ka', 'ke', 'kh', 'ki', 'km', 'ko', 'kr', 'ks',
        'ku', 'l', 'la', 'lb', 'lc', 'ld', 'le', 'lf', 'li', 'lk', 'll',
        'lm', 'ln', 'lo', 'lp', 'ls', 'lt', 'lu', 'ly', 'ma', 'mb', 'mc',
        'md', 'me', 'mf', 'mg', 'mi', 'mk', 'ml', 'mm', 'mn', 'mo', 'mp',
        'mr', 'ms', 'mu', 'mw', 'my', 'n', 'na', 'nc', 'nd', 'ne', 'nf',
        'ng', 'ni', 'nk', 'nl', 'nm', 'nn', 'no', 'ns', 'nt', 'nu', 'ny',
        'nz', 'oa', 'ob', 'oc', 'od', 'oe', 'of', 'og', 'oh', 'oi', 'ok',
        'ol', 'om', 'on', 'oo', 'op', 'or', 'os', 'ot', 'ou', 'ov', 'ow',
        'ox', 'oy', 'p', 'pa', 'pc', 'pd', 'pe', 'pf', 'pg', 'ph', 'pi',
        'pl', 'pm', 'po', 'pp', 'pr', 'ps', 'pt', 'pu', 'pv', 'py', 'q',
        'qa', 'qi', 'qu', 'r', 'ra', 'rc', 'rd', 're', 'rf', 'rg', 'rh',
        'ri', 'rk', 'rl', 'rm', 'rn', 'ro', 'rp', 'rr', 'rs', 'rt', 'ru',
        'rw', 'ry', 'sa', 'sc', 'sd', 'se', 'sg', 'sh', 'si', 'sk', 'sm',
        'so', 'sp', 'ss', 'st', 'su', 'sy', 'ta', 'tb', 'tc', 'td', 'te',
        'tf', 'th', 'ti', 'tl', 'to', 'tp', 'tr', 'ts', 'tu', 'tv', 'tx',
        'ty', 'tz', 'u', 'ua', 'ub', 'uc', 'ud', 'ue', 'uf', 'ug', 'uk',
        'ul', 'um', 'un', 'up', 'ur', 'us', 'ut', 'uu', 'uv', 'ux', 'uy',
        'uz', 'v', 'va', 've', 'vi', 'vl', 'vn', 'vo', 'vu', 'vy', 'w',
        'wa', 'wc', 'we', 'wf', 'wg', 'wi', 'wn', 'wo', 'wp', 'ws', 'ww',
        'x', 'xb', 'xc', 'xi', 'xt', 'xv', 'xx', 'xy', 'ya', 'yd', 'ye',
        'yi', 'yl', 'yo', 'yp', 'ys', 'yx', 'yz', 'za', 'ze', 'zk', 'zo',
        'zs'], dtype=object),
 array(['aa', 'ab', 'ac', 'ad', 'ae', 'af', 'ag', 'ah', 'ai', 'ak', 'al',
        'am', 'an', 'ao', 'ap', 'aq', 'ar', 'as', 'at', 'au', 'av', 'aw',
        'ax', 'ay', 'az', 'b', 'ba', 'bb', 'bc', 'be', 'bi', 'bo', 'bq',
        'br', 'bs', 'bt', 'bu', 'by', 'c', 'ca', 'cb', 'cc', 'cd', 'ce',
        'cf', 'ch', 'ci', 'ck', 'cl', 'cm', 'cn', 'co', 'cp', 'cr', 'cs',
        'ct', 'cu', 'cy', 'da', 'db', 'dc', 'dd', 'de', 'df', 'dg', 'dh',
        'di', 'dn', 'do', 'dp', 'dr', 'ds', 'dt', 'du', 'dx', 'dy', 'e',
        'ea', 'eb', 'ec', 'ed', 'ee', 'ef', 'eg', 'eh', 'ei', 'ek', 'el',
        'em', 'en', 'eo', 'ep', 'eq', 'er', 'es', 'et', 'eu', 'ev', 'ew',
        'ex', 'ey', 'ez', 'f', 'fa', 'fc', 'fe', 'ff', 'fi', 'fl', 'fp',
        'fs', 'ft', 'fy', 'g', 'ga', 'gc', 'gd', 'ge', 'gf', 'gh', 'gi',
        'gm', 'gn', 'go', 'gp', 'gs', 'gu', 'gy', 'h', 'ha', 'hc', 'he',
        'hf', 'hi', 'hl', 'ho', 'hq', 'hr', 'hs', 'ht', 'hu', 'hy', 'ia',
        'ib', 'ic', 'id', 'ie', 'if', 'ig', 'ii', 'ik', 'il', 'im', 'in',
        'io', 'ip', 'ir', 'is', 'it', 'iu', 'iv', 'ix', 'j', 'ja', 'ji',
        'k', 'ka', 'ke', 'kg', 'kh', 'ki', 'kj', 'kk', 'km', 'ko', 'ks',
        'l', 'la', 'lb', 'lc', 'ld', 'le', 'lf', 'li', 'lk', 'll', 'lm',
        'ln', 'lo', 'lp', 'lr', 'ls', 'lt', 'ly', 'ma', 'mb', 'me', 'mf',
        'mg', 'mi', 'mm', 'mn', 'mo', 'mp', 'mr', 'ms', 'mt', 'mu', 'mw',
        'my', 'n', 'na', 'nc', 'nd', 'ne', 'nf', 'ng', 'ni', 'nj', 'nk',
        'nm', 'nn', 'no', 'ns', 'nt', 'nu', 'nv', 'ny', 'nz', 'oa', 'ob',
        'oc', 'od', 'of', 'og', 'oh', 'ok', 'ol', 'om', 'on', 'op', 'or',
        'os', 'ot', 'ou', 'ov', 'ow', 'ox', 'oy', 'p', 'pa', 'pc', 'pd',
        'pe', 'pf', 'pg', 'ph', 'pi', 'pl', 'pm', 'pp', 'pr', 'ps', 'pt',
        'pw', 'py', 'q', 'qi', 'qu', 'r', 'ra', 'rb', 'rc', 'rd', 're',
        'rf', 'rg', 'rh', 'ri', 'rk', 'rl', 'rm', 'rn', 'ro', 'rp', 'rr',
        'rs', 'rt', 'ru', 'rw', 'ry', 'sa', 'sb', 'sc', 'sd', 'se', 'sg',
        'sh', 'si', 'sk', 'sm', 'so', 'sp', 'sr', 'ss', 'st', 'su', 'sy',
        'ta', 'tb', 'tc', 'td', 'te', 'tf', 'th', 'ti', 'tk', 'to', 'tp',
        'tr', 'ts', 'tt', 'tu', 'tv', 'ty', 'tz', 'ua', 'ub', 'uc', 'ud',
        'ue', 'uf', 'ug', 'ul', 'um', 'un', 'up', 'ur', 'us', 'ut', 'v',
        'va', 've', 'vi', 'vl', 'vo', 'vp', 'vy', 'w', 'wa', 'wc', 'we',
        'wg', 'wi', 'wn', 'wo', 'wp', 'ws', 'ww', 'x', 'xa', 'xb', 'xi',
        'xt', 'xv', 'ya', 'yd', 'yi', 'yl', 'yp', 'ys', 'yt', 'yz', 'za',
        'ze', 'zi', 'zo'], dtype=object),
 array(['aa', 'ab', 'ac', 'ad', 'ae', 'af', 'ag', 'ah', 'ai', 'ak', 'al',
        'am', 'an', 'ao', 'ap', 'aq', 'ar', 'as', 'at', 'au', 'av', 'aw',
        'ax', 'ay', 'az', 'b', 'ba', 'bc', 'bd', 'be', 'bi', 'bm', 'bo',
        'bp', 'bq', 'br', 'bs', 'bt', 'by', 'c', 'ca', 'cb', 'cc', 'cd',
        'ce', 'cf', 'cg', 'ch', 'ci', 'cj', 'ck', 'cm', 'cn', 'co', 'cp',
        'cr', 'cs', 'ct', 'cu', 'cw', 'cy', 'cz', 'da', 'db', 'dc', 'dd',
        'de', 'df', 'dg', 'di', 'dm', 'dn', 'do', 'dp', 'dr', 'ds', 'dt',
        'du', 'dy', 'e', 'ea', 'eb', 'ec', 'ed', 'ee', 'ef', 'eg', 'eh',
        'ei', 'ek', 'el', 'em', 'en', 'eo', 'ep', 'er', 'es', 'et', 'eu',
        'ev', 'ew', 'ex', 'ey', 'ez', 'f', 'fa', 'fc', 'fe', 'ff', 'fi',
        'fm', 'fp', 'fr', 'fs', 'ft', 'fy', 'g', 'ga', 'gb', 'gc', 'ge',
        'gg', 'gh', 'gm', 'gn', 'go', 'gs', 'gu', 'gy', 'h', 'ha', 'hd',
        'he', 'hf', 'hg', 'hi', 'hl', 'hn', 'ho', 'hr', 'hs', 'ht', 'hw',
        'hy', 'hz', 'ia', 'ib', 'ic', 'id', 'ie', 'if', 'ig', 'ih', 'ii',
        'ik', 'il', 'im', 'in', 'io', 'ip', 'iq', 'ir', 'is', 'it', 'iu',
        'iv', 'ix', 'j', 'ja', 'jh', 'ji', 'js', 'jv', 'k', 'ka', 'ke',
        'kg', 'kh', 'ki', 'kj', 'km', 'ko', 'kr', 'ks', 'kt', 'ku', 'ky',
        'l', 'la', 'lb', 'lc', 'ld', 'le', 'lf', 'li', 'lk', 'll', 'lm',
        'ln', 'lo', 'lp', 'ls', 'lt', 'lu', 'ly', 'ma', 'mb', 'mc', 'md',
        'me', 'mf', 'mi', 'ml', 'mm', 'mn', 'mo', 'mp', 'mr', 'ms', 'mt',
        'mu', 'mw', 'my', 'n', 'na', 'nc', 'nd', 'ne', 'nf', 'ng', 'nh',
        'ni', 'nk', 'nn', 'no', 'ns', 'nt', 'nv', 'ny', 'oa', 'ob', 'oc',
        'od', 'of', 'og', 'oh', 'oi', 'ok', 'ol', 'om', 'on', 'op', 'or',
        'os', 'ot', 'ou', 'ov', 'ow', 'ox', 'oy', 'oz', 'p', 'pa', 'pb',
        'pc', 'pd', 'pe', 'pf', 'pg', 'ph', 'pi', 'pm', 'pp', 'pr', 'ps',
        'pt', 'py', 'pz', 'q', 'qd', 'qi', 'qu', 'r', 'ra', 'rb', 'rc',
        'rd', 're', 'rf', 'rg', 'ri', 'rk', 'rl', 'rm', 'rn', 'ro', 'rp',
        'rr', 'rs', 'rt', 'ru', 'ry', 'sa', 'sb', 'sc', 'sd', 'se', 'sf',
        'sg', 'sh', 'si', 'sk', 'sm', 'so', 'sp', 'sr', 'ss', 'st', 'su',
        'sw', 'sy', 'ta', 'tc', 'td', 'te', 'tf', 'th', 'ti', 'tl', 'tm',
        'to', 'tp', 'tr', 'ts', 'tt', 'tu', 'tv', 'tw', 'ty', 'tz', 'u',
        'ua', 'ub', 'uc', 'ud', 'ue', 'ug', 'uk', 'ul', 'um', 'un', 'up',
        'ur', 'us', 'ut', 'uu', 'ux', 'uy', 'uz', 'v', 'va', 've', 'vi',
        'vm', 'vo', 'vu', 'vy', 'wa', 'wd', 'we', 'wg', 'wi', 'wn', 'wo',
        'wp', 'wr', 'ws', 'wt', 'ww', 'x', 'xb', 'xi', 'xt', 'xx', 'ya',
        'yb', 'ye', 'yi', 'yl', 'yo', 'ys', 'yu', 'yz', 'z', 'za', 'ze',
        'zi', 'zl', 'zs', 'zu'], dtype=object),
 array(['aa', 'ab', 'ac', 'ad', 'ae', 'af', 'ag', 'ah', 'ai', 'ak', 'al',
        'am', 'an', 'ao', 'ap', 'aq', 'ar', 'as', 'at', 'au', 'av', 'aw',
        'ax', 'ay', 'az', 'b', 'ba', 'bc', 'bd', 'be', 'bi', 'bm', 'bn',
        'bo', 'br', 'bs', 'bt', 'by', 'c', 'ca', 'cb', 'cc', 'cd', 'ce',
        'cf', 'ch', 'ci', 'cj', 'ck', 'cl', 'cm', 'cn', 'co', 'cp', 'cr',
        'cs', 'ct', 'cu', 'cw', 'cy', 'cz', 'da', 'db', 'dc', 'dd', 'de',
        'df', 'dg', 'dh', 'di', 'dm', 'dn', 'do', 'dp', 'dr', 'ds', 'dt',
        'du', 'dy', 'e', 'ea', 'eb', 'ec', 'ed', 'ee', 'ef', 'eg', 'eh',
        'ei', 'ek', 'el', 'em', 'en', 'eo', 'ep', 'er', 'es', 'et', 'eu',
        'ev', 'ew', 'ex', 'ey', 'ez', 'f', 'fa', 'fe', 'ff', 'fi', 'fp',
        'fr', 'fs', 'ft', 'fv', 'fy', 'g', 'ga', 'gb', 'gd', 'ge', 'gh',
        'gi', 'gm', 'gn', 'go', 'gr', 'gs', 'gu', 'gy', 'h', 'ha', 'hb',
        'hd', 'he', 'hg', 'hi', 'hm', 'ho', 'hr', 'hs', 'ht', 'hu', 'hy',
        'hz', 'ia', 'ib', 'ic', 'id', 'ie', 'ig', 'ii', 'ik', 'il', 'im',
        'in', 'io', 'ip', 'ir', 'is', 'it', 'iv', 'ix', 'iz', 'j', 'ja',
        'ji', 'k', 'ka', 'ke', 'kf', 'kg', 'kh', 'ki', 'kj', 'km', 'ko',
        'ks', 'ky', 'l', 'la', 'lb', 'lc', 'ld', 'le', 'lf', 'li', 'lk',
        'll', 'lm', 'lo', 'lp', 'ls', 'lt', 'ly', 'ma', 'mb', 'mc', 'me',
        'mf', 'mg', 'mi', 'ml', 'mm', 'mn', 'mo', 'mp', 'mr', 'ms', 'mt',
        'my', 'n', 'na', 'nc', 'nd', 'ne', 'nf', 'ng', 'ni', 'nk', 'nl',
        'nn', 'no', 'ns', 'nt', 'nu', 'nv', 'ny', 'nz', 'oa', 'ob', 'oc',
        'od', 'oe', 'of', 'og', 'oi', 'ok', 'ol', 'om', 'on', 'oo', 'op',
        'or', 'os', 'ot', 'ou', 'ov', 'ow', 'ox', 'oy', 'p', 'pa', 'pc',
        'pd', 'pe', 'pf', 'pg', 'ph', 'pi', 'pl', 'pm', 'po', 'pp', 'pr',
        'ps', 'pt', 'pu', 'pv', 'pw', 'py', 'q', 'qa', 'qd', 'qi', 'qu',
        'r', 'ra', 'rb', 'rc', 'rd', 're', 'rf', 'rg', 'ri', 'rk', 'rl',
        'rm', 'rn', 'ro', 'rp', 'rr', 'rs', 'rt', 'ru', 'rv', 'rw', 'ry',
        'sa', 'sb', 'sc', 'sd', 'se', 'sf', 'sg', 'sh', 'si', 'sk', 'sl',
        'sm', 'so', 'sp', 'sr', 'ss', 'st', 'sy', 'ta', 'tb', 'tc', 'td',
        'te', 'tf', 'th', 'ti', 'tk', 'tm', 'tn', 'to', 'tp', 'tr', 'ts',
        'tt', 'tu', 'tv', 'ty', 'tz', 'u', 'ua', 'ub', 'uc', 'ud', 'ue',
        'uf', 'ug', 'ui', 'uk', 'ul', 'um', 'un', 'uo', 'up', 'ur', 'us',
        'ut', 'uu', 'ux', 'uy', 'uz', 'v', 'va', 'vc', 've', 'vi', 'vm',
        'vn', 'vo', 'vs', 'vu', 'vy', 'w', 'wa', 'wd', 'we', 'wf', 'wg',
        'wi', 'wn', 'wo', 'wp', 'wr', 'ws', 'ww', 'x', 'xb', 'xh', 'xi',
        'xo', 'xt', 'xv', 'xx', 'ya', 'ye', 'yi', 'ym', 'yo', 'yp', 'yr',
        'ys', 'yy', 'yz', 'za', 'ze', 'zi', 'zn', 'zo'], dtype=object)]

In [89]:
col=[np.array(list(zip(([enc.categories_.index(arr)+1]*len(arr)),list(arr)))) for arr in enc.categories_]

/tmp/ipykernel_2621484/4188385426.py:1: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  col=[np.array(list(zip(([enc.categories_.index(arr)+1]*len(arr)),list(arr)))) for arr in enc.categories_]

In [90]:
co=np.concatenate(col)

In [91]:
co

array([['1', 'aa'],
       ['1', 'ab'],
       ['1', 'ac'],
       ...,
       ['4', 'zi'],
       ['4', 'zn'],
       ['4', 'zo']], dtype='<U21')

In [92]:
co=np.concatenate([co,[['target','target']]])

In [75]:
len(co)

1579

In [93]:
m_final.shape

(50000, 1579)

In [13]:
from sklearn.preprocessing import OneHotEncoder
import numpy as np
import pandas as pd

#First we transform each df in the following array: first element= last two letters of the first word
                                                    #second elt = last two letters of the second word
                                                    #third elt= last two letters of the fourth word
                                                    #fourth elt = last two letters of the 5th word
                                                    #fifth element = POS of the third word
def transform(all_samples):
    trans=[]
    for df in all_samples:
        arr=np.zeros(5,dtype=object)
        arr[0]=df['word'].iloc[0][-2:]
        arr[1]=df['word'].iloc[1][-2:]
        arr[2]=df['word'].iloc[3][-2:]
        arr[3]=df['word'].iloc[4][-2:]
        arr[4]=df['POS'].iloc[2]
        trans.append(arr)
    return trans

def create_df(all_samples):

    transformed=transform(all_samples)

    #We join them in one matrix:
    matrice=np.stack(transformed)

    #We chose a class to classify: VBZ
    matrice[:,4]=1*(matrice[:,4]=='NN')

    enc = OneHotEncoder()
    m=enc.fit_transform(matrice[:,:4]).toarray()

    m_final=np.concatenate((m,matrice[:,4][:,None]),axis=1)
    col=[np.array(list(zip(([enc.categories_.index(arr)+1]*len(arr)),list(arr)))) for arr in enc.categories_]
    co=np.concatenate(col)
    co=np.concatenate([co,[['target','target']]])
    df=pd.DataFrame(m_final,columns=co)
    df=df.rename(columns={('target', 'target'):'target'})
    
    return df

In [95]:
df.sum(axis=0)

(1, aa)               1.0
(1, ab)              16.0
(1, ac)              23.0
(1, ad)             142.0
(1, ae)               2.0
                    ...
(4, ze)              30.0
(4, zi)               3.0
(4, zn)               1.0
(4, zo)               1.0
(target, target)    14152
Length: 1579, dtype: object

In [98]:
df=df.rename(columns={('target', 'target'):'target'})

In [100]:
df.iloc[5,:][df.iloc[5,:]!=0]

(1, ht)    1.0
(2, od)    1.0
(3, es)    1.0
(4, ba)    1.0
Name: 5, dtype: object

In [102]:
all_samples[5]

       word  POS
2     right   NN
3      food   NN
4  examined  VBN
5     cases  NNS
6      cuba  NNP

In [64]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()
m=enc.fit_transform(mat[:,:4]).toarray()
m_final=np.concatenate((m,mat[:,4][:,None]),axis=1)

In [79]:
pd.MultiIndex.from_arrays(zip([1,2,3,4],enc.categories_))

TypeError: unhashable type: 'numpy.ndarray'

In [76]:
len(enc.categories_)

4

In [73]:
import pandas as pd
df_final=pd.DataFrame(m_final,columns=enc.categories_+['target'])

ValueError: Shape of passed values is (50000, 1605), indices imply (50000, 5)

In [61]:
m

array([[0., 0., 0., 1., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 1.,
        0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
        0., 0., 1.],
       [0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0.,
        1., 0., 0.],
       [0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
        0., 1., 0.],
       [0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 1., 0., 1., 0.,
        0., 0., 0.]])

In [63]:
np.concatenate((m,mat[:,4][:,None]),axis=1)

array([[0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0],
       [0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0],
       [0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0],
       [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0,
        0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0]], dtype=object)

In [33]:
enc.categories_

[array(['al', 'le', 'ne', 'nt', 'ws'], dtype=object),
 array(['il', 'ns', 'on', 'ts'], dtype=object),
 array(['ar', 'ce', 'de', 'es', 'nt'], dtype=object),
 array(['al', 'ar', 'eb', 'nt', 'om'], dtype=object),
 array([0], dtype=object)]

In [24]:
#make a df with one column for each unique combination of each of the 4 first columns of matrice
list1=list(set(list(matrice[:,0])))
list2=list(set(list(matrice[:,1])))
list3=list(set(list(matrice[:,2])))
list4=list(set(list(matrice[:,3])))

In [25]:
[1]*len(list1)

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

In [101]:
all_samples[5]

       word  POS
2     right   NN
3      food   NN
4  examined  VBN
5     cases  NNS
6      cuba  NNP

In [17]:
import numpy as np
a=np.zeros(5, dtype=object)

In [18]:
a[1]='re'

In [12]:
import gzip
import random


from nltk.corpus import stopwords
from nltk.tokenize import WordPunctTokenizer
import pandas as pd


import nltk
import pandas as pd
import numpy as np

from sklearn.preprocessing import OneHotEncoder
import numpy as np
fulldf = create_df(all_samples)
fulldf[25000:25010]

/tmp/ipykernel_2728187/2058053819.py:34: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  col=[np.array(list(zip(([enc.categories_.index(arr)+1]*len(arr)),list(arr)))) for arr in enc.categories_]

,"(1, ab)","(1, ac)","(1, ad)","(1, ae)","(1, af)","(1, ag)","(1, ah)","(1, ai)","(1, ak)","(1, al)",...,"(4, yi)","(4, yl)","(4, yo)","(4, yp)","(4, ys)","(4, yz)","(4, za)","(4, ze)","(4, zi)",target
25000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
25001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
25002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
25003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
25004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0
25005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
25006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
25007,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
25008,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
25009,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [8]:
fulldf = mc.create_df(all_samples)
fulldf[25000:25010]

NameError: name 'np' is not defined

## Part 4 - extract training and testing sets (3 points)

Here, you will create the training and testing datasets in order to train the model.  This will be based on a test percentage.  Round up if the percentage does not divide evenly into the sample size.  You will need to separate the class column into the y-values for the classifier.

In [15]:
fulldf.iloc[:,-1]

0        0
1        1
2        0
3        0
4        0
        ..
49995    0
49996    0
49997    0
49998    0
49999    1
Name: target, Length: 50000, dtype: object

In [24]:
from sklearn.model_selection import train_test_split

def split_samples(fulldf, test_percent):
    X=fulldf.iloc[:,:-1]
    y=fulldf.iloc[:,-1]
    train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=test_percent/100)
    return train_X, train_y, test_X, test_y

In [25]:
train_X, train_y, test_X, test_y = split_samples(fulldf, test_percent=20)
len(train_X), len(train_y), len(test_X), len(test_y)

(40000, 40000, 10000, 10000)

In [ ]:
train_X, train_y, test_X, test_y = mc.split_samples(fulldf, test_percent=20)
len(train_X), len(train_y), len(test_X), len(test_y)

## Part 5 - train models (3 points)

You will then train and return two support vector machine (SVM) models using the sklearn SVC class.  You should allow a choice between linear and radial basis function kernels.

In [36]:
train_y=train_y.astype(int)

In [37]:
from sklearn.svm import SVC

def train(train_X, train_y, kernel):
    clf=SVC(kernel=kernel)
    clf.fit(train_X, train_y)
    return clf

In [ ]:
model_linear = train(train_X, train_y, kernel='linear')
model_rbf = train(train_X, train_y, kernel="rbf")
model_linear, model_rbf

In [ ]:
model_linear = mc.train(train_X, train_y, kernel='linear')
model_rbf = mc.train(train_X, train_y, kernel="rbf")
model_linear, model_rbf

## Part 6 - evaluate the models (5 points)

You will calculate and print precision, recall, and F-measure for the models on the test data. In `notes.md`, write down your comparison of these simple measures on the two models and any thoughts you might have on what they mean. (It could be very short, and since the samples do not stay stable between runs, you can save the evaluation scores in `notes.md` too.)

In [ ]:
from sklearn.metrics import precision_recall_fscore_support
def eval_model(model_linear, test_X, test_y):
    y_pred=model_linear.predict(test_X)
    prec,recall,fscore,_=precision_recall_fscore_support(test_y,y_pred)
    return prec,recall,fscore

In [ ]:
eval_model(model_linear, test_X, test_y)
eval_model(model_rbf, test_X, test_y)

In [ ]:
mc.eval_model(model_linear, test_X, test_y)
mc.eval_model(model_rbf, test_X, test_y)

## Part Bonus - try another sort of model from sklearn (5 points)

Write a separate, command-line script (not a notebook) uses `mycode.py` to do all of the above, except that it trains a non-SVM classifier model.  Any non-trivial model available in sklearn will do. Explain how to run your code and the results of your own evaluation in `notes.md`, including any observations or opinions you may have on the classifier method you used in comparison to SVM.

## Submission

Push to your fork of the GitHub repository (which must be made public) and submit the URL of your repository in Canvas.  You can submit this notebook with the output from your run, as long as you do not modify the code or text in it without permission from us.

In [ ]:
from sklearn.naive_bayes import GaussianNB
def eval_Naive_Bayes(train_X, train_y, test_X, test_y):
    gnb = GaussianNB()
    y_pred = gnb.fit(X_train, y_train).predict(X_test)
    prec,recall,fscore,_=precision_recall_fscore_support(test_y,y_pred)
    return prec,recall,fscore